{% extends 'base.html.twig' %}

{% block title %}{{ new.name }}{% endblock %}

{% block body %}
    <div class="py-20 flex w-full justify-center">
        <h1 class="px-2 text-4xl break-all">{{ new.name }}</h1>
    </div>
    <div class="p-5 w-full">
        <p class="text-xl break-all">{{ new.creator.email }} le {{ new.createdAt|date('d/m/Y') }} à {{ new.createdAt|date('H:m') }}</p>
    </div>
    <div class="p-5 w-full">
        <h2 class="text-3xl break-all">Description :</h2>
        <p class="text-xl break-all">{{ new.shortDesc }}</p>
    </div>
    <div class="p-5 w-full">
        <h2 class="text-3xl break-all">Article :</h2>
        <p class="text-xl break-all text-justify">{{ new.body }}</p>
    </div>
    <div class="mb-10 w-full flex justify-between">
        <div class="p-5 w-full flex items-center">
            <a class="pr-5 transform transition duration-500 hover:scale-150" 
            href="{{ path('home') }}">
                <i class="far fa-arrow-alt-circle-left fa-2x"></i>
            </a>

            {% if app.user == new.creator %}
                <a class="pr-5 transform transition duration-500 hover:scale-150" 
                href="{{ path('edit_news', {newId: new.id}) }}">
                    <i class="far fa-edit fa-2x"></i>
                </a>
                <a class="pr-5 transform transition duration-500 hover:scale-150" 
                href="{{ path('remove_news', {newId: new.id})}}">
                    <i class="fas fa-trash fa-2x"></i>
                </a>
            {% endif %}
            
        </div>
        <div class="p-5 w-full flex items-center justify-end">
            {% if app.user %}
                <a href="{{ path('add_like', {newId: new.id})}}" 
                class="p-4 text-s text-white rounded-full bg-black hover:bg-green-500 lg:rounded-md">
                    {% if app.user in new.likes %}
                        <i class="fas fa-heart text-red-500"></i>
                    {% else %}
                        <i class="fas fa-heart text-black-500"></i>
                    {% endif %}

                    {{ new.likes.count }}
                </a>
            {% endif %}
        </div>
    </div>

{% endblock %}